{% extends 'flightdelays/base.html' %}

{% block content %}
{% if user.is_authenticated %}

{% else %}
 <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
{% endif %}

<article>
  <header>
  <div class="row">
    <div class="col-sm-11">
      <h2>Airports</h2>
    </div>
  </div>
</header>

{% include 'flightdelays/pagination.html' %}
  {% if airports %}
  <ul>
    {% for airport in airports %}

    <li><a href="{% url 'flight_detail' airport.pk %}">{{ airport.airport_name | safe }}</a></li>
    {% endfor %}

  </ul>
  {% else %}

  <p>No airports are available to view.</p>
  {% endif %}

  <p>Page count: {{ airports.count }}</p>
</article>

{% endblock content %}}
