{% extends 'flightdelays/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<article>
  <header>
  <div class="row">
    <div class="col-sm-11">
      <h2>Flights</h2>
              <h5>Top 50 flight delays on Thanksgiving 2015 (by longest delay)</h5>
      </div>
    </div>
</header>

{% include 'flightdelays/pagination.html' %}
  {% if flights %}

  <table class = "table">
    <th>Flight Delay Info</th>
    <th>Origin Airport</th>
    <th>Destination Airport</th>
    <th>Delay in minutes</th>
    <style>
  table, tr, td, th {
    margin: 10px auto;
    border: 1px solid black;
    border-top: 5x;
  }
  </style>
    {% for flight in flights %}

    <tr>
      <td><a href="{% url 'flight_detail' flight.pk %}">Travel Route</a></td>
      <td>
        {{ flight.origin_airport | safe }}
      </td>
      <td>

          {{ flight.destination_airport | safe }}
      </td>
      <td>

          {{ flight.arrival_delay | safe }}
      </td>
    </tr>
    {% endfor %}
    </table>

  {% else %}

  <p>No flights are available to view.</p>
  {% endif %}

  <p>Page count: {{ flights.count }}</p>
</article>
{% else %}
 <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
{% endif %}

{% endblock content %}}
