{% extends 'flightdelays/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>Flight Update</h2>
  </header>


  <form method="post" novalidate>
    {% csrf_token %}

    <div class="row">
      <div class="col-6">
        {{ form.arrival_delay|as_crispy_field }}
      </div>
    </div>


    <button type="submit" class="btn btn-outline-success">Update</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'flight_detail' flight.pk %}">Cancel</a>

  </form>

{% endblock content %}
