{% extends 'flightdelays/base.html' %}


   {% block content %}

     {% if flight_detail.airline %}
     <div class="row">
      <div class="col-sm-2">
        <p>Airline</p>
      </div>
      <div class="col-sm-10">
        <p>{{flight_detail.airline}}</p>
      </div>
     </div>
     {% endif %}


     {% if flight_detail.origin_airport %}
     <div class="row">
      <div class="col-sm-2">
        <p>Origin Airport</p>
      </div>
      <div class="col-sm-10">
        <p>{{flight_detail.origin_airport}}</p>
      </div>
     </div>
     {% endif %}

     {% if flight_detail.destination_airport %}
     <div class="row">
      <div class="col-sm-2">
        <p>Destination Airport</p>
      </div>
      <div class="col-sm-10">
        <p>{{flight_detail.destination_airport}}</p>
      </div>
     </div>
     {% endif %}

     {% if flight_detail.arrival_delay %}
     <div class="row">
      <div class="col-sm-2">
        <p>Arrival Delay (time)</p>
      </div>
      <div class="col-sm-10">
        <p>{{flight_detail.arrival_delay}}</p>
      </div>
     </div>
     {% endif %}

     {% if user.is_authenticated %}
      <a class="btn btn-outline-secondary" href="{% url 'flight_update' 39721 %}">Time Delay Update</a>
     {% endif %}

   {% endblock content %}
